<app-header></app-header>
    <div class="content ">

<div class="flex min-h-full flex-col justify-center px-6 py-32 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
       <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Verify your Account</h2>
    </div>
 
    <div class="mt-3 sm:mx-auto sm:w-full sm:max-w-sm">
       <form class="space-y-2" [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
            <div>
                <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Enter your password</label>
                <div class="mt-1">
                   <input id="password" formControlName="password"  type="password" autocomplete="password"  required
                      class="block w-full rounded-md border py-2 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                      [ngClass]="{ 'border-red-500': passwordForm.get('password')?.touched && passwordForm.get('password')?.invalid }">
                     <div *ngIf="passwordForm.get('password')?.touched && passwordForm.get('password')?.invalid" class="text-red-500 text-xs mt-1">
                         <div *ngIf="passwordForm.get('password')?.hasError('required')">*required</div>
                         <div *ngIf="passwordForm.get('password')?.hasError('pattern')">*invalid password</div>
                     </div>
                </div>
            </div>
            <div>
                <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Enter your password</label>
                <div class="mt-1">
                   <input id="password" formControlName="confirmPassword"  type="password" autocomplete="confirmPassword"  required
                      class="block w-full rounded-md border py-2 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                      [ngClass]="{ 'border-red-500': passwordForm.get('confirmPassword')?.touched && passwordForm.get('confirmPassword')?.invalid }">
                     <div *ngIf="passwordForm.get('confirmPassword')?.touched && passwordForm.get('confirmPassword')?.invalid" class="text-red-500 text-xs mt-1">
                         <div *ngIf="passwordForm.get('confirmPassword')?.hasError('required')">*required</div>
                     </div>
                </div>
            </div>
            <div>
                <button type="submit" value="login" id="login" class="mt-6 w-full shadow-xl bg-gradient-to-tr from-blue-600 to-red-400 hover:to-red-700 text-indigo-100 py-2 rounded-md text-lg tracking-wide transition duration-1000">Submit</button>
            </div>
       </form>
    </div>
 </div>

    </div>

